.event-card {
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .event-card-header {
    background-color: var(--primary);
    color: #fff;
    padding: 10px 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .event-card-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .event-card-body {
    padding: 15px;
  }
  
  .event-card-description {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .event-card-footer {
    background-color: var(--light);
    padding: 10px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .event-card-button {
    background-color: var(--primary);
    border: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .event-card-button:hover {
    background-color: #005ea1;
  }
  