:root {
    --primary: #0072C6;
    --secondary: #3F3F3F;
    --light: #F2F2F2;
    --dark: #1F1F1F;
  }
  
  /* Center align content within rows */
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
  }
  
  /* Style the navbar */
  .navbar {
    background-color: var(--primary);
    border-radius: 0;
  }
  
  .nav-link {
    color: #fff;
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  
  .nav-link:hover {
    color: var(--light);
  }

  h1 {
    font-size: 4rem;
    font-weight: bold;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 40px;
  }
  
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .btn-primary {
    background-color: #0071c5;
    border-color: #0071c5;
  }
  
  .btn-primary:hover {
    background-color: #0060ae;
    border-color: #0060ae;
  }
  
  .course-card {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .course-card:hover {
    box-shadow: 0px 0px 15px #bbb;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .event-card {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .event-card:hover {
    box-shadow: 0px 0px 15px #bbb;
    transition: box-shadow 0.3s ease-in-out;
  }

  .btn-intel{
    background-color: var(--primary);
    color: var(--light);
  }

  .btn-intel:hover {
    background-color: var(--primary);
    color: var(--light);

    /* background-color: var(--dark); */
    border-color: var(--dark);
  }
  
  .btn-intel:active {
    background-color: var(--light);
    color: var(--dark);
  }
  
  
  
  
  
  
